:root{
    --text-color: #fff;
}
.center-content {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-nube {
    width: 125px;
}

.card-sombra {
    -webkit-box-shadow: 0px 1px 10px 1px #40a9ff;
    -moz-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.75);
    background: rgb(255,255,255);
    background: linear-gradient(118deg, #fafafa -6%, #40a9ff 70%)!important;
    height: 584px;
}

.text-color{
    color: var(--text-color) !important;
}

.ant-row.ant-form-item{
    margin: 0;
}
